@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url('https://fonts.googleapis.com/css?family=Exo|Exo+2&display=swap');

/* font-family: 'Exo 2', sans-serif;
font-family: 'Exo', sans-serif; */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
h1.t11-privacy-title {
  text-align: center;
  font-family: 'Exo', sans-serif;
}
label {
  font-family: 'Exo 2', sans-serif;
}
button.btn.btn-light {
  margin-top: 10px;
}
.container-fluid.t11-container.t11-contactPage {
  padding: 1rem;
  padding-right: 20rem;
  padding-left: 20rem;
}
h2.t11-pp-h2 {
  font-family: 'Exo 2', sans-serif;
}

.App-header {
    color: black;
    left: 0;
    right: 0;
    z-index: 1;
    align-items: center !important;
    white-space: nowrap !important;
    margin-top: 0 !important;
}

.App-link {
  color: #09d3ac;
}

h3{
  color: darkred;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

li.list-group-item {
  display: flex;
}
ul.my-ul-search {
  margin-bottom: 0;
  padding-left: 0;
}
input.form-control.mr-sm-2 {
  width: 30rem;
}

.container {
  width: 100%;
  top: 35%;
  text-align: center;
}


.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  border: 1px solid rgba(0,0,0,.125);
}

.col-10 {
  font-weight: 900;
}
p {
  text-align: justify;
}

.container-fluid.t11-container {
  padding: 1rem;
  padding-right: 3rem;
  padding-left: 3rem;
}