@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
    color: black;
    left: 0;
    right: 0;
    z-index: 1;
    align-items: center !important;
    white-space: nowrap !important;
    margin-top: 0 !important;
}

.App-link {
  color: #09d3ac;
}

h3{
  color: darkred;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

li.list-group-item {
  display: flex;
}

.container {
  width: 100%;
  top: 35%;
  text-align: center;
}


.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  border: 1px solid rgba(0,0,0,.125);
}

.col-10 {
  font-weight: 900;
}